[submodule "Source/levels"]
	path = Source/levels
	url = git@github.com:ninovanhooff/gravity-express-levels.git
[submodule "Source/lua/playdate-navigator"]
	path = Source/lua/playdate-navigator
	url = https://github.com/ninovanhooff/playdate-navigator
